/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para la barra lateral */
.sidebar {
    width: 250px;
    background-color: #3a3e3f;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 20px;
    border-bottom: 1px solid #151516;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #8fcef8;
}

/* Estilo para el contenido principal */
.content {
    margin-left: 250px;
    padding: 20px;
}

.header {
    background-color: #574f4f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para el contenedor de información */
.info {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.info p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
}

/* Estilo para el enlace de salida */
.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li:last-child a {
    margin-top: 20px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #be3232;
    padding: 15px;
    border-radius: 5px;
}

.sidebar ul li:last-child a:hover {
    background-color: #aa0000;
}
